<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6bd66d30-bbb0-4ba0-bdd5-ec1e2113b8e4/resourcegroups/myFinalProject/providers/Microsoft.Web/sites/FinalProject20220708175129</ResourceId>
    <ResourceGroup>myFinalProject</ResourceGroup>
    <ApiResourceId>/subscriptions/6bd66d30-bbb0-4ba0-bdd5-ec1e2113b8e4/resourceGroups/myFinalProject/providers/Microsoft.ApiManagement/service/FinalProjectsapi/apis/FinalProject</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://finalproject20220708175129.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>dd3fab5e-4939-4ed7-8fa3-2f081d6cffb2</ProjectGuid>
    <MSDeployServiceURL>finalproject20220708175129.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FinalProject20220708175129</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$FinalProject20220708175129</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>