
@{
    ViewData["Title"] = "Home Page";
}<div style="background-color:olive">
 <div class="text-center">
     <h1 class="display-4">Welcome to KL University</h1>
     <img src="https://images.hindustantimes.com/img/2021/04/08/1600x900/KL_University_HT_1617871537419_1617871542598.jpg" />
 </div>
